.sticker {
    width: 200px;
    height: 200px;
    box-shadow: 0 0 10px 5px #b3b3b3;
    color: #0d47a1;
    padding: 40px 20px 20px 20px;
    box-sizing: border-box;
    font-family: 'Caveat',
    cursive;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    position: relative;
    transition: box-shadow .5s;

    .nail {
        width: 20px;
        height: 20px;
        background: #353535;
        box-shadow: 0 0 7px #424242;
        border-radius: 50%;
        top: 15px;
        right: calc(50% - 15px);
        position: absolute;
    }

    &:hover {
        box-shadow: 0 0 10px 5px #eee;
        transition: box-shadow .5s;
        z-index: 1;
    }
}