@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import "~devices.css/dist/devices.min.css";

/* Optional modules */
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
// @import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
// @import "~bootstrap/scss/dropdown";
// @import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
// @import "~bootstrap/scss/nav";
// @import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
// @import "~bootstrap/scss/breadcrumb";
// @import "~bootstrap/scss/pagination";
// @import "~bootstrap/scss/badge";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/toasts";
// @import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
// @import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/utilities";

@import url("https://fonts.googleapis.com/css?family=Bad+Script&display=swap");

.container {
  height: 100%;
}

body {
  background: url("/build/fon2.jpg");
  background-size: cover;
  min-height: 100vh;
}

.screen {
  height: 100vh;
  width: 100%;
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
  font-family: "Bad Script", cursive;
  color: #0581e8;
  font-size: 3.5rem;
  margin: 0 0 0.5rem 0;
  text-shadow: 0 0 10px #fff;
  font-weight: bold;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
  color: #5e5e5e;
}

@import "app/components/sticker/index.scss";
@import url("https://fonts.googleapis.com/css?family=Arsenal:400,700,700i|Caveat&display=swap");
@import "app/components/snowflakes/index.scss";
@import "app/components/preview/index.scss";
